services:
  openapi-to-mcp:
    image: evilfreelancer/openapi-to-mcp:latest
    #build:
    #  context: .
    #  dockerfile: Dockerfile
    env_file: .env
    environment:
      MCP_API_BASE_URL: ${MCP_API_BASE_URL:-http://127.0.0.1:3000}
      MCP_OPENAPI_SPEC: ${MCP_OPENAPI_SPEC:-}
      MCP_INCLUDE_ENDPOINTS: ${MCP_INCLUDE_ENDPOINTS:-}
      MCP_EXCLUDE_ENDPOINTS: ${MCP_EXCLUDE_ENDPOINTS:-}
      MCP_TOOL_PREFIX: ${MCP_TOOL_PREFIX:-}
      MCP_SERVER_NAME: ${MCP_SERVER_NAME:-openapi-to-mcp}
      MCP_PORT: ${MCP_PORT:-3100}
      MCP_HOST: ${MCP_HOST:-0.0.0.0}
      MCP_INSTRUCTIONS_FILE: ${MCP_INSTRUCTIONS_FILE:-}
      MCP_INSTRUCTIONS_MODE: ${MCP_INSTRUCTIONS_MODE:-default}
      MCP_CONVERT_HTML_TO_MARKDOWN: ${MCP_CONVERT_HTML_TO_MARKDOWN:-true}
      MCP_LOG_LEVEL: ${MCP_LOG_LEVEL:-INFO}
    ports:
      - "3100:3100"
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10k"
