services:
  openapi-to-mcp:
    image: evilfreelancer/openapi-to-mcp:latest
    #build:
    #  context: .
    #  dockerfile: Dockerfile
    env_file: .env
    environment:
      MCP_API_BASE_URL: ${MCP_API_BASE_URL:-http://127.0.0.1:3000}
      MCP_OPENAPI_SPEC_URL: ${MCP_OPENAPI_SPEC_URL:-}
      MCP_OPENAPI_SPEC_FILE: ${MCP_OPENAPI_SPEC_FILE:-}
      MCP_INCLUDE_ENDPOINTS: ${MCP_INCLUDE_ENDPOINTS:-}
      MCP_EXCLUDE_ENDPOINTS: ${MCP_EXCLUDE_ENDPOINTS:-}
      MCP_TOOL_PREFIX: ${MCP_TOOL_PREFIX:-}
      MCP_SERVER_NAME: ${MCP_SERVER_NAME:-openapi-to-mcp}
      MCP_PORT: ${MCP_PORT:-3100}
      MCP_HOST: ${MCP_HOST:-0.0.0.0}
    ports:
      - "3100:3100"
    restart: unless-stopped
